<IfModule mod_rewrite.c>
RewriteEngine On
RewtiteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www.example.com$ [NC]
RewriteRule ^(.*)$ https://www.example.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /404.html [L,R=301]
</IfModule>

<IfModule mod_headers.c>
Header set Cache-Control "max-age=84600, stale-while-revalidate=84600, public"
</IfModule>

